@{
    ViewBag.Title = "Inicio";
}

<div class="row justify-content-center">
    <h3 class="text-white">Cartelera</h3>
</div>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/Train_to_Busan_2-972558816-large.jpg" class="img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Estacion Zombie</h5>
                    <p><a class="btn btn-default" style="background-color:aquamarine" href="https://localhost:44340/Home/About">Ver Más... &raquo;</a></p>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="thclss">Sala</th>
                                <th class="thclss">Horario</th>
                                <th class="thclss">Clasificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sala 5</td>
                                <td>6:00</td>
                                <td><span class="badge badge-info">Clasificación B-15</span></td>
                            </tr>
                            <tr>
                                <td>Sala 1</td>
                                <td>6:40</td>
                                <td><span class="badge badge-info">Clasificación B-15</span></td>
                            </tr>
                            <tr>
                                <td>Sala 2</td>
                                <td>3:50</td>
                                <td><span class="badge badge-info">Clasificación B-15</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="https://www.aragondigital.es/wp-content/uploads/2019/12/frozen-2-por-que-tienen-que-crecer-frozen2main1-1571826300-770x1122.jpg" class="img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Frozen 2</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="thclss">Sala</th>
                                <th class="thclss">Horario</th>
                                <th class="thclss">Clasificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sala 1</td>
                                <td>1:20</td>
                                <td><span class="badge badge-info">Clasificación A</span></td>
                            </tr>
                            <tr>
                                <td>Sala 7</td>
                                <td>5:40</td>
                                <td><span class="badge badge-info">Clasificación A</span></td>
                            </tr>
                            <tr>
                                <td>Sala 2</td>
                                <td>8:10</td>
                                <td><span class="badge badge-info">Clasificación A</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/A_Scooby-798511662-large.jpg" class="img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Scoob!</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="thclss">Sala</th>
                                <th class="thclss">Horario</th>
                                <th class="thclss">Clasificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sala 3</td>
                                <td>11:00</td>
                                <td><span class="badge badge-info">Clasificación A</span></td>
                            </tr>
                            <tr>
                                <td>Sala 5</td>
                                <td>4:20</td>
                                <td><span class="badge badge-info">Clasificación A</span></td>
                            </tr>
                            <tr>
                                <td>Sala 8</td>
                                <td>6:30</td>
                                <td><span class="badge badge-info">Clasificación A</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="https://cartelera.elperiodico.com/estaticos//0/675/675903_p.jpg" class="img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">IT</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="thclss">Sala</th>
                                <th class="thclss">Horario</th>
                                <th class="thclss">Clasificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sala 2</td>
                                <td>8:15</td>
                                <td><span class="badge badge-info">Clasificación B-15</span></td>
                            </tr>
                            <tr>
                                <td>Sala 1</td>
                                <td>11:40</td>
                                <td><span class="badge badge-info">Clasificación B-15</span></td>
                            </tr>
                            <tr>
                                <td>Sala 7</td>
                                <td>9:20</td>
                                <td><span class="badge badge-info">Clasificación B-15</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="https://pics.filmaffinity.com/Unidos-464150296-large.jpg" class="img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Unidos</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="thclss">Sala</th>
                                <th class="thclss">Horario</th>
                                <th class="thclss">Clasificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sala 2</td>
                                <td>10:00</td>
                                <td><span class="badge badge-info">Clasificación A</span></td>
                            </tr>
                            <tr>
                                <td>Sala 4</td>
                                <td>5:15</td>
                                <td><span class="badge badge-info">Clasificación A</span></td>
                            </tr>
                            <tr>
                                <td>Sala 6</td>
                                <td>10:10</td>
                                <td><span class="badge badge-info">Clasificación A</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="https://www.ecartelera.com/carteles/10800/10861/002_m.jpg" class="img-thumbnail" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">DeadPool 2</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="thclss">Sala</th>
                                <th class="thclss">Horario</th>
                                <th class="thclss">Clasificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sala 8</td>
                                <td>6:00</td>
                                <td><span class="badge badge-info">Clasificacion C</span></td>
                            </tr>
                            <tr>
                                <td>Sala 1</td>
                                <td>6:40</td>
                                <td><span class="badge badge-info">Clasificacion C</span></td>
                            </tr>
                            <tr>
                                <td>Sala 3</td>
                                <td>10:40</td>
                                <td><span class="badge badge-info">Clasificacion C</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>